#############################################
# MAIN APPLICATION PROFILE (default)
#############################################
server:
  port: 8091

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/upcomingcar?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

jwt:
  secret: ${JWT_SECRET:ThisIsASecureJwtSecretKeyForProductionAndTesting12345}
  expiration: 86400000   # 1 day in ms
  get:
    token:
      uri: /authenticate

app:
  cors:
    allowed-origins: "http://localhost:4200,http://localhost:3000"
    allowed-methods: "GET,POST,PUT,DELETE"
    allowed-headers: "*"

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG   # enable security debugging


#############################################
# TEST PROFILE (H2 + lightweight config)
#############################################
---
spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

logging:
  level:
    root: WARN
